body {
	font-family: 'Open Sans', sans-serif;
}

nav ul {
	font-size:15pt;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

nav li {
 	display: inline-block;
    padding:5px;
}

#container {
	padding-left:50px;
	padding-right:50px;
	font-size:13pt;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	height:100vh;
}

#header {
	background-color: #000;
	color:#fff;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 100px;
}

#info img {
	height:300px;
	width:300px;
}

#about-text, #other-text {
	width:70%;
	float:left;
}

#about-img, #other-img {
	width:15%;
	margin-left:70%;
}

#nexus-text {
	width:70%;
	float:right;
}

#nexus-img {
	width:15%;
	margin-right:70%;
	/*float:right;*/
}

a {
	text-decoration: none;
	color:#58bede;
}